# CONSTANTS

IDENTIFIER      = "[replace]" # starter-kit
REGION          = "[replace]"  # us-east-1

# VARIABLES

certificate_arn = "[replace]" # arn:aws:acm:[obmitted]:[obmitted]:certificate/[obmitted]
workload = {}
zone_name       = "[replace]" # example.com
